.titulo-listar {
    font-size: 36px; 
    font-weight: bold;
    color:#000000a2; 
    text-transform: uppercase;
}

.boton-crear{
    text-transform:uppercase;
    font-size: 16px;
    background-color: rgb(6, 131, 33);
    border: rgb(6, 131, 33) solid 1px;
}

.boton-crear:hover{
    
    background-color: rgb(5, 105, 26);
    border: rgb(5, 105, 26) solid 1px;
}
